        {% block javascript %}
            {{ encore_entry_script_tags('app') }}
            <script src="https://code.jquery.com/jquery-3.3.1.min.js"> </script>
            <script src="http://steadness.com/js/bootstrap.min.js"></script>
            <script crossorigin="anonymous" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
            <script src="http://steadness.com/js/imagesloaded.pkgd.min.js"></script>
            <script src="http://steadness.com/js/hammer.min.js"></script>
            <script src="http://steadness.com/js/sequence.js"></script>
            <script src="http://steadness.com/js/sequence-theme.basic.js"></script>
        {% endblock %}
    </body>
</html>