        {% block javascript %}
            {{ encore_entry_script_tags('app') }}
            {{ encore_entry_script_tags('transitionSlider') }}
            {{ encore_entry_script_tags('swiper') }}
            <script src="http://www.steadness.com/js/jquery.mmenu.all.js"></script>
            <script src="http://steadness.com/js/bootstrap.min.js"></script>
        {% endblock %}
        <div class="container">
    </body>
</html>