        {% block javascript %}
            {{ encore_entry_script_tags('app') }}
            <script src="http://steadness.com/js/bootstrap.min.js"></script>
            <script src="http://steadness.com/js/imagesloaded.pkgd.min.js"></script>
            <script src="http://steadness.com/js/hammer.min.js"></script>
            <script src="http://steadness.com/js/sequence.js"></script>
            <script src="http://steadness.com/js/sequence-theme.basic.js"></script>
        {% endblock %}
    </body>
</html>