body {
    background-color: lightgray;
}
    
/* Heahder */
@import url('https://fonts.googleapis.com/css?family=Abel');

body {
    font-family: 'Abel', sans-serif;
}

.mm-menu {
    height: calc( 100% - 40px ) !important;
    --mm-color-background: #4bb5ef;
}
.mm-navbar_size-2 {
    text-align: center;
    position: relative;
    border-bottom: none;
    display: block !important;
}
.mm-navbar_size-2:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 1px;
}
.mm-navbar_size-2 > * {
    color: #fff !important;
    display: inline-block;
    vertical-align: middle;
}
.mm-navbar_size-2 img {
    opacity: 0.6;
    border: 1px solid #fff;
    border-radius: 60px;
    width: 60px;
    height: 60px;
    padding: 10px;
    margin: 0 10px;
}
.mm-navbar_size-2 a {
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 40px;
    color: rgba(255, 255, 255, 0.8) !important;
    font-size: 16px !important;
    line-height: 40px;
    width: 40px;
    height: 40px;
    padding: 0;
}
.mm-navbar_size-2 a:hover {
    border-color: #fff;
    color: #fff !important;
}

.mm-panels > .mm-panel:after {
    content: none;
    display: none;
}
.mm-panels > .mm-panel > .mm-listview {
    margin: 0;
}

.mm-listview {
    text-transform: uppercase;
}
.mm-listitem:last-child:after {
    content: none;
    display: none;
}
.mm-listitem a,
.mm-listitem span {
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    padding-right: 20px !important;
}
.mm-listitem a:hover,
.mm-listitem a:hover + span {
    color: #fff;
}

/* Logo + Nav  */

.navbar-brand{
    font-size: 45px;
    color: white;
}
.navbar-nav li{
    font-size: 35px;
}

.histoire_mob{
    width: 355px;
}

.nos-pack{
    padding-top: 0px;
    padding-right: 0px;
}

.block{
    text-align:center;
}

.block_annonce div{
    text-align:center;
}

.block_annonces{
    /* margin-left: 40px; */
    margin-top: 20px;
    margin-left: 41px;
    width: 90em;
    margin-left: 70px;
    /* margin-left:  5px; */
}

.block_annonces div{
    width: 50em;
    height: 250px;
    background-color: black; 
}

.adresse{
    font-size: 30px;
}

.nos-block h1{
    text-align:center;
}

.block_annonces{
    width: 250px;
    height: 250px;
}

.block div{
    text-align:center;
}

.block div{
    text-align: center; 
}

.block_annonces div{
    margin-left: 1px;
}

.block{
    text-align:center;
}

.adresse p{
    margin-top: 1em;
    font-size: 24px;
}

.footer{
    margin-top: 50px;
}

/* ./Logo */

/* Promo */

.promo{
    height: 250px; 
    width: 200px;
}

/* ./Promo */

/* Boutton header UP */

.adresse{
    font-size: 16px; 
    text-align: right;
}

.list li{
    display: inline-block;
    font-size: 20px;
}

.lists li{
    font-size:25px;
}

.navbar-end a{
    font-size:20px;
    cursor: pointer;
}

.navbar-item a{
    background-color:transparent;
    border: 0;
}

.lists-buttons a:hover{
    text-decoration: inherit;
}

.button_up ul{
    float:right;
}

.lists-buttons li::before{
    content: "‹";
}

#assistance span{
    text-decoration: inherit;
}

#assistance a:hover{
    border-bottom:0px;
    text-decoration: inherit;
}

#button-li .lists-buttons::before{
    content: "";
}

.navbar-item span {
    background-color: transparent;
}

.navbar-end a{
    text-align:right;
}

.lists-menu div{
    width:100%;
    height: 100%;
    /* background-color: #1a1a1a; */
    justify-content: center;
    font-size: 45px;
}

.level-item a {
    color: black;
}

.level-item a:hover{
    background-color: transparent;
    border-bottom: 1px solid black;
}

.level-item a:hover{
    text-decoration:none;
}

/* ./ HeaderUP*/

/* Body */

.histoire{
    background-color: lightgray;
}

.histoire_mob{
    background-color: black;
}

.nous_situer{
    margin-left: 50px;
    text-align: center; 
    background-color: lightgray;
}

.histoire_mob{
    margin-left: 15em; 
}

.block_show{
    margin-left: 20px;
}

.assistance_off span{
    display:inline-block;
    margin-left: 20em;
    margin-right: -90px;
}

.card-body{
    margin-left: 5px;
}
/* Services */
.service{
    width: 20em;
}

.promotion{
    width: 20em;
}

.newsletter{
    width: 20em;
}

/* ./Service */

.assistance{
    width: 20em;
    height: 15em;
    padding-top: 6em;
    padding-left: 8em; 
    margin-left: 22px; 
    background-color: #00000033;
}

.info-pratique{
    width: 30em;
    height: 15em;
    padding-top: 6em;
    padding-left: 8em; 
    margin-left: 22px; 
    background-color: #00000033;
}

.block_promo .promo {
    margin-left: 10px;
    height: 12em; 
    width: 15em;
    padding-top: 5em; 
    padding-left: 4em; 
    margin-top: 16px; 
    background-color: #263238;
    border: 1px solid black;
}

.assistance_block{
    background-color: black; 
    width: 50em;
}


.block_promo{
    margin-top: 25px;
    width: 44em;
}

.block_div{
    text-align:center;
}

.options{
    width: 40em;
    height: 50%;
}

.block_ouverture .mois {
    width: 14em;
    font-size: 30px;
}

.options{
    width: 350px;
}

.block_ouverture .mois{
    width: 6em;
}

#form_DemandeEnLigne{
    display: none;
}

#particles-js{
  width: 100%;
  height: 100%;
  background-color: #b61924;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  text-align:center;
}


.demande_en_ligne{
    margin-top: 9px;
}

div .carousel{
    background-color:black;
    width:100%;
    height:100%;
}

.carousel{
    background-color:black;
    width: 100%;
    height: 40em;
}

#titre_entreprise div{
    text-align: center;
}

.head-title > h4{
    font-size: 55px;
    color:white;
}

#titre_entreprise p{
    text-align:center;
}

.description-entreprise{
    color:white;
    font-size: 35px;
}

.time-block span{ 
    display: inline-block;
    color:white;
}

.time{
    height: 100%;
    width: 100%;
    border-radius: 1px solid;
    color: black;
}

.time label:hover select{
    background-color: #1a82ae;
    border-color: #187aa3;
    border: #fff;
    opacity: 1px;
} 

.label_title{
    color: black;
}

#packs a{
    text-align:right;
}

.block_ouverture label{
    display:none;
}

#form_options option{
    display:none;
    height: 50px;
}

.block_ouverture .submit{
    display:none;
}

#form_ouvertures{
    margin-left: -11em;
    width: 22em;
    height: 10em;
    
}

#form_ouvertures select{
    width: 7em;
    display:inline-block;
    height: 78px;
}

div #form_Suivant{
    display:none;
}

.block{
    width: 20px;
    display:inline-block;
}

#block_ouverture{
    width: 20px;
}

/* ./Body */


/* Nos services */

.nos-pack div{
    border: 1px solid lightgray;
}

.nos-pack div:hover{
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.titre-up{
    margin-top: 5px;
}

.basic{
    height: 32em;
}
.confort{
    height: 20em;
}

.Assistance{
    height: 20em;
}

.prix{
    margin-top: 10px;
    border: 1px solid #dee2e6;
    font-size: 30px;
}

.demo-section label {
    margin-bottom: 5px;
    font-weight: bold;
    display: inline-block;
}

#titre_choices {
    width: 270px;
}

#list_choice .demo-section {
    max-width: none;
    width: 515px;
}

#list_choice .k-listbox:first-of-type {
    margin-right: 1px;
}

/* /.Nos Services*/


/* Nos Annonces */

.img_annonces{
    border-radius: 10px;
}

#description span{
    font-size: 20px;
    margin-left: 10px;
}

#container_annonce div{
    width: 45%;
    display: inline-block;
}

.logo-info div{
    display: inline-block;
    width: 30%;
}

/* Nos Annonces */

.container-all div{
    width: 30%;
    display:inline-block;
}

.annonces_img{
    background: url('images/annonces/car1.jpg') no-repeat;
    background-size: 70% cover;
}

.annonces_img div{
    border-radius: 1px;
}

.container-all div {
    display: inline-block;
    width: 20%;
    border-radius: 10px;
}

.titre_annonces{
    font-size: 20px;
}

.description_annonces{
    font-size: 20px;
}

.description-line span{
    display: inline-block;
}

.description_annonces{
    display: inline-block;
}

/* Contact me */

.news_situer span{
    display:inline-block;
}
.form-control{
    height: 150%;
}

.confirmation{
    width: 100%;
    height: 100%;
    background-color: lightgray;
}



/* ./ Contact me */

/* ./ Nos Annonces */

/* Media Query */
@media only screen and (max-width: 365px) {

    #list_choice{
        height: 30em;
    }
    #list_choice,
    .k-listbox{
        height: 31em;
    }
    .basic{
        height: 41em;
    }
    .demo-section,
    .k-content{
        height:31em;
    }
    .block_div{
        margin-top: 25px;
        margin-left: 8px;
    }
    .div_info{ 
        padding-bottom: 8em;
        padding-top: 55px;
    }
    .description-entreprise{
        margin-top: 30px;
    }
    .head-title{
        margin-top: 10em;
        text-align:center;
        font-size: 5px;
    }
}

@media only screen and (max-width: 768px) {
    #team{
        display:none;
    }
    .header a {
        display: none;
    }
    .seq{
        height: 250px;
    }
    .lists-buttons li{
        float: right;
    }
    .nos-pack{
        height: 100%;
        margin-bottom: 50px;
    }
    .histoire_mob{
        margin-top: 50px;
    }
    .adresse_mob{
        margin-top: 50px;
    }
    #nos-pack{
        margin-bottom: 90em;
    }
    .container-all{
        width: 100%;
        flex-direction: wrap;
    }
}

/* ./ Media Query */